write a program to find the factorial of a number

In [ ]:
fact=1
n=int(input("enter a number"))
num=n
while n>0:
  fact=fact*n
  n=n-1
print ("the factorial of ",num,"is",fact)

enter a number5
the factorial of  5 is 120

fibonacci series of n terms

In [ ]:
n=int(input("enter a number"))
f1=0
f2=1
print(f1)
print(f2)
f3=f1+f2
while(f3<n):
  print(f3)
  f1=f2
  f2=f3
  f3=f1+f2

enter a number20
0
1
1
2
3
5
8
13

to find sum of all items in a list [using for loop]

In [ ]:
li=[1,2,3,4,5]
sum=0
for i in li:
  sum=sum+i
  print(sum)

1
3
6
10
15

In [ ]:
li=[]
n=int(input("how many elements :"))
for i in range(n):
  num=int(input("enter a number :"))
  li.append(num)
print(li)
print("sum of list",sum(li))

how many elements :3
enter a number :2
enter a number :4
enter a number :5
[2, 4, 5]
sum of list 11

print multiplication table of n,where n is entered by user
using for loop

In [ ]:
n=int(input("enter a number:"))
for i in range(1,11):
  mul=n*i
  print(mul)

enter a number:5
5
10
15
20
25
30
35
40
45
50

print reverse of a number using while loop

In [ ]:
num=int(input("enter a number :"))
reverse=0
while(num!=0):
  digit=num%10
  reverse=reverse*10+digit
  num=num//10
print("reverse",reverse)

enter a number :123
reverse 321

Write a program to find whether the given number is an
Amstrong number or not. [use while loop]

In [ ]:
num=int(input("enter the number"))
order=len(str(num))
sum=0
temp=num
while(temp>0):
  digit=temp%10
  sum=sum+digit**order
  temp=temp//10
if(sum==num):
   print(num,"is a amstrong number")
else:
   print(num,"not a amstrong")

enter the number153
153 is a amstrong number

7. Write a program to generate all factors of a number. [use while loop]

In [ ]:
n=int(input("enter a number"))
print("factors of",n,":")
i=1
while i<=n:
  if n%i==0:
    print(i)
  i=i+1

enter a number5
factors of 5 :
1
5

6. Display the given pyramid with the step number accepted
from the user. Eg: N=4

In [ ]:
rows=int(input("enter number of rows :"))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(i*j,end=" ")
  print()

enter number of rows :3
1
2 4
3 6 9

Construct following pattern using nested loop

In [ ]:
n=5
for i in range(n):
  for j in range (i):
    print('*',end=" ")
  print('') 

for i in range(n,0,-1):
  for j in range(i):
    print('*',end=" ")
  print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Generate a list of four digit numbers in a given range with all
their digits even and the
number is a perfect square.

In [ ]:

l=[]
for i in range(1000,10000):
  n=str(i)
  a=int(n[0])
  b=int(n[1])
  c=int(n[2])
  d=int(n[3])
  m=i**(0.5)
  if a%2==0 and b%2==0 and c%2==0 and d%2==0:
    if (m//1)==m:
      l.append(n)

print(l)

['4624', '6084', '6400', '8464']